
<section class="consultancy-section container-fluid pdgb-50    lggrey" id="consultoria">
  <div class="maskconsultoria">
  <div class="container-fluid" >
    <br><br>
    <!--<h3 class="scroll-content fadeAppear txt-center text-white"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">CONSULTORIA</h3>-->
    <br>

    <br>
    <div class="row" style="padding-bottom: 15%; padding-top: 15%;">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" >
      <h5 class="scroll-content fadeAppear " >SISTEMA DE INGENIERÍA</h5>


      <p>BSGL, diseña sistemas que gestionan las piezas desde su preparación hasta su curado, con planos detallados en 2D y 3D, así como diagramas complejos de tuberías tridimensionales que se ven en las grandes fábricas.</p>
      <!--<p> Desde líneas transportadoras manuales por lotes hasta sistemas robóticos totalmente automatizados para recubrimiento líquido o de pulpo, trabajamos con nuestros clientes en el desarrollo de procesos para cumplir y superar sus
        expectativas.</p>-->
        </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 justify">

        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
 <!--   <h5 class="scroll-content fadeAppear txt-center text-white">PROCESO DE INGENIERÍA</h5>

    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <ul>
            <li class="scroll-content fadeLeft">
              <p>Revisión del concepto.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Relevamiento de plantas.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Diseño y aprobación de planos.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Fabricación e integración de equipos.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Asamblea.</p>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <ul>
            <li class="scroll-content fadeLeft">
              <p>Instalación</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Puesta en marcha en planta.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Programación y resolución de problemas.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>Cumplimiento de la garantía del fabricante.</p>
            </li>
            <li class="scroll-content fadeLeft">
              <p>La formación del personal</p>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>-->
    

  </div>
  </div>
</section>





<!--

<section  id="consultoria">
  <div class="divheader content container-fluid">
    <div class="divheader-video">
 
    </div>
    <div class="divheader-overlay"></div>
    <div class="divheader-content" style="background: rgba(0,0,0,0.45700286950717783);">
      <h3 class="scroll-content fadeAppear txt-center text-white"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="" >CONSULTORIA</h3>
       <div class="container-fluid">
         <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
            <p class="dhcp">BSGL, diseña sistemas que gestionan las piezas desde su preparación hasta su curado, con planos detallados en 2D y 3D, así como diagramas complejos de tuberías tridimensionales que se ven en las grandes fábricas.<br> Desde líneas transportadoras manuales por lotes hasta sistemas robóticos totalmente automatizados para recubrimiento líquido o de pulpo, trabajamos con nuestros clientes en el desarrollo de procesos para cumplir y superar sus
              expectativas.</p>

           </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
            <ul>
              <li class="scroll-content fadeLeft">
                <p>Revisión del concepto.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Relevamiento de plantas.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Diseño y aprobación de planos.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Fabricación e integración de equipos.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Asamblea.</p>
              </li>
            </ul>
           </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
            <ul>
              <li class="scroll-content fadeLeft">
                <p>Instalación</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Puesta en marcha en planta.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Programación y resolución de problemas.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>Cumplimiento de la garantía del fabricante.</p>
              </li>
              <li class="scroll-content fadeLeft">
                <p>La formación del personal</p>
              </li>
            </ul>
           </div>
         </div>
       </div>
    </div>
  </div>
</section>


-->