<section class="container-fluid pdgb-50 pdgt-50   lggrey" id="consultoria">
  <div class="container">
    <h3 class="scroll-content fadeAppear txt-center text-dark"><img src="assets/img/PNG/small-logo2.png" alt="">CONSULTORIA</h3>
    <br>
    <h5>SISTEMA DE INGENIERÍA</h5>
    <p >BSGL, diseña sistemas que gestionan las piezas desde su preparación hasta su curado, con planos detallados en 2D y 3D, así como diagramas complejos de tuberías tridimensionales que se ven en las grandes fábricas.</p>
    <p> Desde líneas transportadoras manuales por lotes hasta sistemas robóticos totalmente automatizados para recubrimiento líquido o de pulpo, trabajamos con nuestros clientes en el desarrollo de procesos para cumplir y superar sus expectativas.
    </p>

    <br>
    <br>
    <br>
    <h5>PROCESSO DE INGENIERÍA</h5>
    <ul>
    <li class="scroll-content fadeLeft">Revisión del concepto.</li>
      <li class="scroll-content fadeLeft">Relevamiento de plantas.</li>
      <li class="scroll-content fadeLeft2">Diseño y aprobación de planos.</li>
      <li class="scroll-content fadeLeft2">Fabricación e integración de equipos.</li>
      <li class="scroll-content fadeLeft3">Asamblea.</li>
      <li class="scroll-content fadeLeft2">Instalación</li>
      <li class="scroll-content fadeLeft3">Puesta en marcha en planta.</li>
      <li class="scroll-content fadeLeft4">Programación y resolución de problemas.</li>
      <li class="scroll-content fadeLeft4">Cumplimiento de la garantía del fabricante.</li>
      <li class="scroll-content fadeLeft4">La formación del personal</li>
    </ul>
  </div>
</section>