<div class="wrapper fadeInDown" >
	<div id="mask">
	<div id="formContent" >
		<div class="fadeIn first">
		    <img src="" id="icon" alt="" />
		    <h3>{{page_title}}</h3>
		</div>
		<form id="requestResetPasswordForm" #requestResetPasswordForm="ngForm" (ngSubmit)="onSubmit(requestResetPasswordForm)">
			<div class="form-group">
				<label for="email" class="form-control-label">Ingresa tu correo electronico:
					<input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" [(ngModel)]="rpr.email" required>
				</label>
			</div>			
			<input type="submit" value="Enviar " class="" [disabled]="requestResetPasswordForm.invalid">
		</form>
		  <div id="mensajes"></div>
		   <h3 *ngIf="status != '' && status != 'error'">{{status}}</h3>
		    <h3 *ngIf="status == 'error'">{{status}}</h3>
		<div id="formFooter">
			
		</div>
	</div>
</div>
</div>