<section class="container-fluid pdgb-50  lggrey" id="especialidades">
  <div class="container">

    <h3 class="scroll-content fadeTop txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">ESPECIALIDADES</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        
        <div class="box scroll-content fadeLeft">
          <div class="box-inner">
            <div class="box-front ">
               <h5 class="mgt20">IMPLEMENTACIÓN / INTEGRACIÓN</h5><hr>
            </div>
            <div class="box-back">
              
                <p>Diseño de trazado industrial.</p><br>
                <p>Estudios ergonómicos.</p><br>
                <p>Análisis de tiempos de productividad</p>
              
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="box scroll-content fadeLeft2">
          <div class="box-inner">
            <div class="box-front ">
               <h5 class="mgt20">BANCOS DE PRUEBAS Y MONTAJE</h5><hr>
            </div>
            <div class="box-back">
               <p>Desarrollado para montaje especifico.</p>
               <p>Bancos de control de calidad.</p>
               <p>Bancos de prueba para equipos eléctricos y neumáticos.</p>       
            </div>
          </div>
        </div>


      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="box scroll-content fadeLeft3">
          <div class="box-inner">
            <div class="box-front ">
               <h5 class="mgt20">HERRAMIENTAS</h5><hr>
            </div>
            <div class="box-back">
              <p>Herramientas de montaje.</p>
              <p>Herramientas de auxilio.</p>
              <p>Herramientas de calidad.</p>      
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix" ></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="box scroll-content fadeLeft4">
          <div class="box-inner">
            <div class="box-front ">
              <h5 class="mgt20">MECANIZADO</h5><hr>
            </div>
            <div class="box-back">
            <p>Prototipos</p>
            <p>Mecanizado de piezas convencionales y especiales.</p>
            
            <p>Manufactura de dispositivos para línea de producción</p>     
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="box scroll-content fadeLeft4">
          <div class="box-inner">
            <div class="box-front ">
            <h5 class="mgt20">CALIDAD Y MEDICION</h5><hr>
            </div>
            <div class="box-back">
        <p>Herramientas de medición 2D diseñadas para la calidad del ensamblaje y el control de deformidades en la línea de ensamblaje</p>    
            </div>
          </div>
        </div>

      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      </div>
    </div>

  </div>
</section>