<section class="container-fluid pdgb-50 pdgt-50 lggrey" id="especialidades">
  <div class="container">
    <h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">ESPECIALIDADES</h3>
  <div class="card-deck">
    <div class="card scroll-content fadeTop  " style="max-width: 18rem;">
      
      <div class="card-body">
        <h5>IMPLEMENTACIÓN / INTEGRACIÓN</h5>
        <hr>
        <div class="infor">
          <div class="texton scroll-content fadeAppear">
        <p>Diseño de trazado industrial.</p><br>
        <p>Estudios ergonómicos.</p><br>
        <p>Análisis de tiempos de productividad</p>
        </div>
        </div>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
    <div class="card scroll-content fadeTop " style="max-width: 18rem;">
      
      <div class="card-body">
        <h5 >BANCOS DE PRUEBAS Y MONTAJE</h5><hr>
        <div class="infor">
          <div class="texton scroll-content fadeAppear">
        <p>Desarrollado para montaje especifico.</p>
        <p>Bancos de control de calidad.</p>
        <p>Bancos de prueba para equipos eléctricos y neumáticos.</p> 
      </div>
      </div>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
    <div class="card scroll-content fadeTop " style="max-width: 18rem;">
      
      <div class="card-body">
        <h5 >HERRAMIENTAS</h5><hr>
        <div class="infor">
          <div class="texton scroll-content fadeAppear">
        <p>Herramientas de montaje.</p>
        <p>Herramientas de auxilio.</p>
        <p>Herramientas de calidad.</p> 
      </div>
      </div>
      </div>
      <div class="card-footer">
        
      </div>
    </div>

    <div class="card scroll-content fadeTop  " style="max-width: 18rem;">
      
      <div class="card-body">
        <h5 >MECANIZADO</h5><hr>
        <div class="infor">
          <div class="texton scroll-content fadeAppear" style="text-align: left;">
       <p>Prototipos</p>
       <p>Mecanizado de piezas convencionales y especiales.</p>
       <p>Manufactura de dispositivos para línea de producción</p>   
      </div>
      </div>
      </div>
      <div class="card-footer">
        
      </div>
    </div>

    <div class="card scroll-content fadeTop " style="max-width: 18rem;">
      
      <div class="card-body">
        <h5 >CALIDAD Y MEDICION</h5><hr>
        <div class="infor">
          <div class="texton scroll-content fadeAppear">
        <p>Herramientas de medición 2D diseñadas para la calidad del ensamblaje y el control de deformidades en la línea de ensamblaje</p>    
      </div>
      </div>
      </div>
      <div class="card-footer">
        
      </div>
    </div>


  </div>
<br>
<br>
<br>
  <div class="card-deck">
   
   
  
  </div>
  </div>


</section>