<section class="speciality-section container-fluid pdgb-50  " id="especialidades">
  <div class="maskespecialidades">
    <div class="container">
      <h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">ESPECIALIDADES</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgbot">
          <div class="card especialidades-card" (click)="showModal(1)">
            <img src="assets/img/SVG/banco.svg" class="card-img-top">
            <div class="card-body">
              <p>BANCOS DE PRUEBAS Y MONTAJE</p>

            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgbot">
          <div class="card especialidades-card" (click)="showModal(3)">
            <img src="assets/GIF/mecanizado.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">MECANIZADO</p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgbot">
          <div class="card especialidades-card" (click)="showModal(2)">
            <img src="assets/img/SVG/herramientas.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HERRAMIENTAS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>

        <div class="clear-fix"><br><br></div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mrgbot"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgbot">
          <div class="card especialidades-card" (click)="showModal(0)">
            <img src="assets/GIF/integracion.gif" class="card-img-top">
            <div class="card-body">
              <p class="card-text">IMPLEMENTACIÓN / INTEGRACIÓN</p>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgbot">
          <div class="card especialidades-card" (click)="showModal(4)">
            <img src="assets/GIF/calidad.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">CALIDAD Y MEDICION</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mrgbot"></div>

      </div>

      <br>
      <br>
      <br>
    </div>
  </div>

</section>
