<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top navbar-main">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/img/PNG/logo.png" alt="BSGL México">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav ms-auto text-dark">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          <a class="nav-link" href="#">Servicios</a>
          <a class="nav-link" href="#" >Consultoria</a>
          <a class="nav-link" href="#">Contactos</a>
        </div>
      </div>
    </div>
  </nav>
</header>
