<section class="container-fluid pdgb-50 pdgt-50   lggrey" id="contacto">
  <div class="container text-center">
   <h3 class="scroll-content fadeAppear txt-center text-dark"><img src="assets/img/PNG/small-logo2.png" alt="">CONTACTO</h3>
                   <form class="form-horizontal" method="post">
                       <fieldset>
                           <legend class="text-center header">Solicita informacion</legend>

                           <div class="form-group">
                               <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                               <div class="col-md-8">
                                   <input id="fname" name="name" type="text" placeholder="Nombre completo" class="form-control">
                               </div>
                           </div>

                           <div class="form-group">
                               <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                               <div class="col-md-8">
                                   <input id="email" name="email" type="text" placeholder="Correo electronico" class="form-control">
                               </div>
                           </div>

                           <div class="form-group">
                               <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                               <div class="col-md-8">
                                   <input id="phone" name="phone" type="text" placeholder="Telefono" class="form-control">
                               </div>
                           </div>
                           <div class="form-group">
                               <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                               <div class="col-md-8">
                                   <p>Selecciona el servicio del cual quieres informacion</p>
                                   <select id="lname" name="name" type="text" class="form-control">
                                                                      <option>Desarrollo de Ingeníeria</option>
									<option>Programación PLC Y Robótica</option>
									<option>Instalaciones Mecanicas</option>
									<option>Instalaciones Eléctricas</option>
									<option>Instalaciones Hidráulicas</option>
									<option>Automación Industrial</option>
									<option>Consultoria proyectos</option>
									<option>Instalaciones Neumáticas</option>
									<option>Mantenimientos en general</option>
									<option>Estructuras en Acero</option>
									<option>Ergonomia</option>
									<option>Servicios y Mantenimiento</option>
									<option>Integración</option></select>

                               </div>
                           </div>

                           <div class="form-group">
                               <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                               <div class="col-md-8">
                                   <textarea class="form-control" id="message" name="message" placeholder="Ingresa tu mensaje aqui" rows="7"></textarea>
                               </div>
                           </div>

                           <div class="form-group">
                               <div class="col-md-12 text-center">
                                   <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                               </div>
                           </div>
                       </fieldset>
                   </form>








  </div>
</section>