<section class="contact-section container-fluid pdgb-50" id="contacto">
  <div class="container">
    <div class="row">
      <div class="container mt-5">
        <h2 class="scroll-content fadeAppear  text-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">Contáctanos</h2><br>
        <div class="row ">
          <div class="col-md-6">
            <form [formGroup]="contactForm">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              </div>
              <div class="form-group">
                <label for="email">Télefono</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              </div>
              <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea class="form-control" id="message" rows="3" formControlName="message"></textarea>
              </div>
              <div class="text-center">
                <button [ngClass]="['btn-primary', 'color-green']" (click)="onSubmit()">Enviar</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <img src="assets/img/SVG/Contact-us.svg" alt="contactanos" width="100%" height="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</section>
