<section class="container-fluid pdgb-50 pdgt-50   lggrey" id="contacto" >
    <div class="container">
        <h3 class="scroll-content fadeAppear txt-center text-dark"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">CONTACTO</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
               <form>
                 <div class="form-group">
                   <label for="exampleInputEmail1">Nombre completo</label>
                   <input type="text" class="form-control" id="name" placeholder="">
                 </div>
                 <div class="form-group">
                   <label for="exampleInputPassword1">Correo electrónico</label>
                   <input type="email" class="form-control" id="email" >
                 </div>
                                  <div class="form-group">
                   <label for="exampleInputPassword1">Teléfono</label>
                   <input type="tel" class="form-control" id="telefono" >
                 </div>
                                  <div class="form-group">
                   <label for="exampleInputPassword1"><p>Selecciona el servicio del cual quieres información</p></label>
                        
                        <select id="lname" name="name" type="text" class="form-control">
                        <option value="">Selecciona</option>
                        <option>Desarrollo de Ingeníeria</option>
                        <option>Programación PLC Y Robótica</option>
                        <option>Instalaciones Mecanicas</option>
                        <option>Instalaciones Eléctricas</option>
                        <option>Instalaciones Hidráulicas</option>
                        <option>Automación Industrial</option>
                        <option>Consultoria proyectos</option>
                        <option>Instalaciones Neumáticas</option>
                        <option>Mantenimientos en general</option>
                        <option>Estructuras en Acero</option>
                        <option>Ergonomia</option>
                        <option>Servicios y Mantenimiento</option>
                        <option>Integración</option>
                        </select>
                 </div>
                <div class="form-group">
                   <label for="exampleInputPassword1">Mensaje</label>
                   <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Quiero información de ..."></textarea>
                 </div>
                 <button type="submit" class="btn btn-primary">Enviar</button>
               </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
            </div>
    </div>
</section>