<section class="container-fluid pdgb-50 pdgt-50 lggrey" id="nosotros">
	<div class="container">
		<br>
		<br>
		<h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/logo/small-logo2.png" alt="">NOSOTROS</h3>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 justify">
				<p>Somos la compañía que busca y genera condiciones óptimas para un proceso eficiente, mediante la aplicación de estudios que permitan una reingeniería en sus procesos a través de modelos de sustentabilidad, consistente en la teoría del todo,
					donde cada elemento pasa por una prueba para sustentar la eficiencia.</p>
				<br>
				<p>Nuestro objetivo es brindar la tecnología en las actividades de nuestros clientes y una vez constituidos, elevar la capacidad de producción de manera que permita la optimización de los recursos materiales y recursos humanos</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
		</div>
	</div>
	<div class="container">
		<br>
		<h5 class="scroll-content fadeAppear txt-center">PRINCIPALES ACTIVIDADES</h5>
		<br>
		<div class="row ovh">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
				<div class="div-center gallery">
					<div id="carousel">
						<figure>
							<p>Integración.</p><img src="assets/img/nosotros/integracion.png" alt="">
						</figure>
						<figure>
							<p>Servicios y Mantenimiento.</p><img src="assets/img/nosotros/servicios.png" alt="">
						</figure>
						<figure>
							<p>Ergonomia.</p><img src="assets/img/nosotros/ergonomia.png" alt="">
						</figure>
						<figure>
							<p>Estructuras en Acero.</p><img src="assets/img/nosotros/estructuras.png" alt="">
						</figure>
						<figure>
							<p>Mantenimientos en general.</p><img src="assets/img/nosotros/mantenimiento.png" alt="">
						</figure>
						<figure>
							<p>Instalaciones Neumáticas.</p><img src="assets/img/nosotros/neumaticas.png" alt="">
						</figure>
						<figure>
							<p>Consultoria proyectos.</p><img src="assets/img/nosotros/consultoria.png" alt="">
						</figure>
						<figure>
							<p>Automación Industrial.</p><img src="assets/img/nosotros/automacion.png" alt="">
						</figure>
						<figure>
							<p>Instalaciones Hidráulicas.</p><img src="assets/img/nosotros/hidraulicas.png" alt="">
						</figure>
						<figure>
							<p>Instalaciones Eléctricas.</p><img src="assets/img/nosotros/electricas.png" alt="">
						</figure>
						<figure>
							<p>Instalaciones mecánicas.</p><img src="assets/img/nosotros/mecanicas.png" alt="">
						</figure>
						<figure>
							<p>Programación PLC Y Robótica.</p><img src="assets/img/nosotros/plc.png" alt="">
						</figure>
						<figure>
							<p>Desarrollo de Ingeníeria.</p><img src="assets/img/nosotros/desarrollo.png" alt="">
						</figure>
					</div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
		</div>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br><br>





</section>
