<section class="container-fluid pdgb-50 pdgt-50 lggrey" id="nosotros"  >
	<div class="container">
		<br>
		<h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">NOSOTROS</h3>
		<p>Somos la compañía que busca y genera condiciones óptimas para un proceso eficiente, mediante la aplicación de estudios que permitan una reingeniería en sus procesos a través de modelos de sustentabilidad, consistente en la teoría del todo, donde cada elemento pasa por una prueba para sustentar la eficiencia.</p>
		<br>
		<p>Nuestro objetivo es brindar la tecnología en las actividades de nuestros clientes y una vez constituidos, elevar la capacidad de producción de manera que permita la optimización de los recursos materiales y recursos humanos</p>
	</div>
	<div class="container">
			<h3 class="scroll-contentfade fadeAppear txt-center"><img class="subcategory" src="assets/img/logo/small-logo2.png" alt="">PRINCIPALES ACTIVIDADES</h3>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
					<div class="bd-example" style="height: 400px;">
					<div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="5" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="6" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="7" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="8" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="9" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="10" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="11" class=""></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="12" class=""></li>
					  </ol>
					  <div class="carousel-inner">

					    <div class="carousel-item active" style="height: 400px;">
					      <div style="text-align: center; padding-top: 35%;">
					      	<img src="assets/img/nosotros/desarrollo.png" alt="" width="100" height="100">
					      	<h3>Desarrollo de Ingeníeria.</h3>
					      </div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/plc.png" alt="" width="100" height="100">
					    		<h3>Programación PLC Y Robótica.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/mecanicas.png" alt="" width="100" height="100">
					    		<h3>Instalaciones mecánicas.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/electricas.png" alt="" width="100" height="100">
					    		<h3>Instalaciones Eléctricas.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/hidraulicas.png" alt="" width="100" height="100">
					    		<h3>Instalaciones Hidráulicas.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/automacion.png" alt="" width="100" height="100">
					    		<h3>Automación Industrial.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/consultoria.png" alt="" width="100" height="100">
					    		<h3>Consultoria proyectos.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/neumaticas.png" alt="" width="100" height="100">
					    		<h3>Instalaciones Neumáticas.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/mantenimiento.png" alt="" width="100" height="100">
					    		<h3>Mantenimientos en general.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/estructuras.png" alt="" width="100" height="100">
					    		<h3>Estructuras en Acero.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/ergonomia.png" alt="" width="100" height="100">
					    		<h3>Ergonomia.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/servicios.png" alt="" width="100" height="100">
					    		<h3>Servicios y Mantenimiento.</h3>
					    	</div>
					    </div>
					    <div class="carousel-item" style="height: 400px;">
					    	<div style="text-align: center; padding-top: 35%;">
					    		<img src="assets/img/nosotros/integracion.png" alt="" width="100" height="100">
					    		<h3>Integración.</h3>
					    	</div>
					    </div>
					  </div>
					  <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </button>
					</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
			</div>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br><br>





</section>