<section class="container-fluid pdgb-50 pdgt-50 lggrey" id="especialidades"  >
	<div class="container">
	    <h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">NOSOTROS</h3>
		 <p>Somos la compañía que busca y genera condiciones óptimas para un proceso eficiente, mediante la aplicación de estudios que permitan una reingeniería en sus procesos a través de modelos de sustentabilidad, consistente en la teoría del todo, donde cada elemento pasa por una prueba para sustentar la eficiencia.</p>
		<br>
		 <p>Nuestro objetivo es brindar la tecnología en las actividades de nuestros clientes y una vez constituidos, elevar la capacidad de producción de manera que permita la optimización de los recursos materiales y recursos humanos</p>
	</div>
	<div class="container">
		<h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">PRINCIPALES ACTIVIDADES</h3>

			
	<section class="section-preview">


	      <!--Carousel Wrapper-->
	      <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel" data-touch="true" data-keyboard="true">
	        <!--Indicators-->
	        <ol class="carousel-indicators">
	          <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
	          <li data-target="#video-carousel-example2" data-slide-to="1" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="2" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="3" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="4" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="5" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="6" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="7" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="8" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="9" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="10" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="11" class=""></li>
	          <li data-target="#video-carousel-example2" data-slide-to="12" class=""></li>
	        </ol>
	        <!--/.Indicators-->
	        <!--Slides-->
	        <div class="carousel-inner" role="listbox">
	          <!-- First slide -->
	          <div class="carousel-item active" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Desarrollo de Ingeníeria.</h3>
	              <div class="mask rgba-indigo-light"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">

	              <div class="animated fadeInDown  ">
	                
	              
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.First slide -->

	          <!-- Second slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Programación PLC Y Robótica.</h3>
	              
	              <div class="mask rgba-purple-slight"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Second slide -->

	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Instalaciones mecánicas.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->

	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Instalaciones Eléctricas.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Instalaciones Hidráulicas.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Automación Industrial.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Consultoria proyectos.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Instalaciones Neumáticas.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Mantenimientos en general.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Estructuras en Acero.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Ergonomia.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Servicios y Mantenimiento.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->


	          <!-- Third slide -->
	          <div class="carousel-item" style="text-align: center;">
	            <!--Mask color-->
	            <div class="view" style="min-height: 350px;">
	              <!--Video source-->
	              <h3 class="h3-responsive" style="color: black; padding-top: 10%;">Integración.</h3>
	             
	              <div class="mask rgba-black-strong"></div>
	            </div>

	            <!--Caption-->
	            <div class="carousel-caption">
	              <div class="animated fadeInDown  ">
	                
	                <p></p>
	              </div>
	            </div>
	            <!--Caption-->
	          </div>
	          <!-- /.Third slide -->

	        </div>
	        <!--/.Slides-->
	        <!--Controls-->
	        <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev" >
	          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
	          <span class="sr-only" style="background-color: #fff000;">Previous</span>
	        </a>
	        <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next" >
	          <span class="carousel-control-next-icon" aria-hidden="true" ></span>
	          <span class="sr-only" style="background-color: #fff000;">Next</span>
	        </a>
	        <!--/.Controls-->
	      </div>
	      <!--Carousel Wrapper-->

	    </section>


	   																											
	</div>
</section>