.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #959d3a;
}


.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:  #959d3a;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .3s ease;
}



/****************************comentar para cambiar transiciones slider**************************/
.carousel-fade .carousel-item{

	opacity: .0;
	transition-duration: .3s;
	transition-property: opacity;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev{
	opacity: 1;
}


.carousel-fade .active.carousel-item-next,
.carousel-fade .active.carousel-item-prev{
	opacity: 0;
}


.carousel-fade .active.carousel-item-next,
.carousel-fade .active.carousel-item-prev,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev{
	transform: translatex(0);
	transform: translate3d(0px, 0px, 0px);
}
/****************************************************************/
/*
.carousel-caption > .fadeInDown{
  opacity: 1;
  
  transition: all 1s;
}

.carousel-caption .carousel-item-next,
.carousel-caption .carousel-item-prev{
	opacity: 1;
	transform: translatex(0);
	transform: translate3d(0px, 0px, 0px);
	 transition: opacity .3s;
}
*/