<!--<div class="container">
  <div class="row">
    <p-table [value]="data" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>No. Correo</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>teléfono</th>
                <th>mensaje</th>
                <th>fecha recibido</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>
-->


<div class="loading" *ngIf="!mails">
    Cargando...
</div>
<div *ngIf="identity">
<div class="container-fluid" *ngIf="mails"  >
    <h3>{{page_title}}</h3>
    <table class="table  table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody *ngFor="let maile of mails">
        <tr>
          
          <td>{{maile.id}}</td>
          <td>{{maile.name}}</td>
          <td>{{maile.email}}</td>
          <td>{{maile.telefono}}</td>
          <td>{{maile.mensaje}}</td>
          <td>{{maile.created_at | date: 'yyyy-MM-dd'}}</td>
        </tr>
       
      </tbody>
    </table>
    
    
</div>

</div>