<div class="container">
  <div class="row">
    <h3 class="txt-center">Correos Recibidos</h3>
    <br><br>
    <p-table [value]="data" style="height: 500px;" styleClass="p-datatable-lg" [tableStyle]="{'min-width': '50rem'}" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
                <th>No. Correo</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>teléfono</th>
                <th>mensaje</th>
                <th>fecha recibido</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.telefono}}</td>
                <td>{{data.mensaje}}</td>
                <td>{{data.created_at | date:'dd/MM/yy, h:mm a'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
  </div>
</div>



<!-- <div class="loading" *ngIf="!mails">
    Cargando...
</div>

<div class="container-fluid" *ngIf="mails"  >
    <h3>{{page_title}}</h3>
    <table class="table  table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody *ngFor="let maile of mails">
        <tr>

          <td>{{maile.id}}</td>
          <td>{{maile.name}}</td>
          <td>{{maile.email}}</td>
          <td>{{maile.telefono}}</td>
          <td>{{maile.mensaje}}</td>
          <td>{{maile.created_at | date: 'yyyy-MM-dd'}}</td>
        </tr>

      </tbody>
    </table>


</div> -->
