<section class="container-fluid pdgb-50    lggrey" id="servicios">
  <div class="container">
    <h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">SERVICIOS</h3>
    <div class="card-deck">
      <div class="card scroll-content fadeTop  " style="max-width: 18rem;">
        <div class="card-body">
          <img src="assets/img/SVG/Optimizacion.svg" class="img-res " alt="..." class="imgcb">
          <hr>
          <div class="infor">
            <div class="texton">
              <h5 class="card-title">Optimización</h5>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Ver más
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Optimización</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="">Optimización de tiempo de ciclos de la celda de puertas delanteras.</p>
              <p>Optimización de la programación ”trayectoria” de los robots alcanzando el tiempo de producción solicitada por el cliente manteniendo una calidad de producción sin paros.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card scroll-content fadeTop  " style="max-width: 18rem;">
        <div class="card-body">
          <img src="assets/img/SVG/Ergonomia.svg" class="img-res " alt="..." class="imgcb">
          <hr>
          <div class="infor">
            <div class="texton">
              <h5 class="card-title">Ajuste de Ergonomía</h5>
              <p class="card-text">Servicio de optimización y ajuste de ergonomía en pinzas de soldadura manual.</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
      <div class="card scroll-content fadeTop  " style="max-width: 18rem;">
        <div class="card-body">
          <img src="assets/img/SVG/sellos.svg" class="img-res " alt="..." class="imgcb">
          <hr>
          <div class="infor">
            <div class="texton">
              <h5 class="text-color-light text-4 mb-2">Aplicación Sellos</h5>
              <p class="">Instalación de sistema de aplicación de sellos.</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
      <div class="card scroll-content fadeTop  " style="max-width: 18rem;">
        <div class="card-body">
          <img src="assets/img/SVG/Mantenimiento.svg" class="imgcb" />
          <hr>
          <div class="infor">
            <div class="texton">
              <h5 class="card-title">Mantenimiento</h5>
              <p>Dosificadores aplicadores y bombas de aplicación.</p>
              <p>Contrato de mantenimiento en sistemas de aplicación de adhesivos</p>
              <p>Mantenimientos Easy & Full repair en los siguientes componentes;</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <br>
    <p>Satisfaciendo las demandas del proceso y respetando a las personas que lo ejecutan, realizamos proyectos para mejorar la productividad, adecuando los proyectos a los estándares nacionales e internacionales.</p>
  </div>
</section>
