<section class="container-fluid pdgb-50    lggrey" id="servicios">
  <div class="container">
    <h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">SERVICIOS</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">


        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <img src="assets/img/servicios/optimizacion.png" class="img-res " alt="...">
              <h5 class="card-title">Optimización</h5>
            </div>
            <div class="box-back">
              <p class="">Optimización de tiempo de ciclos de la celda de puertas delanteras.</p>
              <p>Optimización de la programación ”trayectoria” de los robots alcanzando el tiempo de producción solicitada por el cliente manteniendo una calidad de producción sin paros.</p>     
            </div>
          </div>
        </div>



      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

        <div class="box">
          <div class="box-inner">
            <div class="box-front">
            <img src="assets/img/servicios/ergonomia.png" class="img-res " alt="...">
            <h5 class="card-title">Ajuste de Ergonomía</h5>
            </div>
            <div class="box-back" style="background-color: #939f42;">
          <p class="card-text">Servicio de optimización y ajuste de ergonomía en pinzas de soldadura manual.</p>  
            </div>
          </div>
        </div>

 


      </div>
      <div class="clear-fix"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

        <div class="box">
          <div class="box-inner">
            <div class="box-front">
            <img src="assets/img/servicios/sello.png" class="img-res " alt="...">
            <h5 class="text-color-light text-4 mb-2">Aplicación Sellos</h5>
            </div>
            <div class="box-back" style="background-color: #939f42;">
          <p class="">Instalación de sistema de aplicación de sellos.</p> 
            </div>
          </div>
        </div>


      
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">


        <div class="box">
          <div class="box-inner">
            <div class="box-front">
            <img src="assets/img/servicios/mantenimiento.png" class="img-res " alt="...">
            <h5 class="card-title">Mantenimiento</h5>
            </div>
            <div class="box-back" style="background-color: #939f42;">
          <p class="">Contrato de mantenimiento en sistemas de aplicación de adhesivos</p>
          <p>Mantenimientos Easy & Full repair en los siguientes componentes;</p>
          <p>Dosificadores aplicadores y bombas de aplicación.</p>
            </div>
          </div>
        </div>

        </div>
      </div><br>
      <p>Satisfaciendo las demandas del proceso y respetando a las personas que lo ejecutan, realizamos proyectos para mejorar la productividad, adecuando los proyectos a los estándares
nacionales e internacionales.</p>

    </div>

    
</section>