<section class="container-fluid pdgb-50    lggrey" id="servicios">
  <div class="container"><br>
    <br>
    <h3 class="scroll-content fadeAppear txt-center"><img class="subcategory" src="assets/img/PNG/small-logo2.png" alt="">SERVICIOS</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 justify">
        <p>Satisfaciendo las demandas del proceso y respetando a las personas que lo ejecutan, realizamos proyectos para mejorar la productividad, adecuando los proyectos a los estándares nacionales e internacionales.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 mrgbot"></div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5  mrgbot">
        <div class="card services-card" (click)="showModal(0)">
          <img src="assets/img/SVG/Optimizacion.svg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Optimización</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5  mrgbot">
        <div class="card services-card" (click)="showModal(1)">
          <img src="assets/img/SVG/Ergonomia.svg" class="card-img-top">
          <div class="card-body">
            <p>Ajuste de Ergonomía</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 mrgbot"></div>
      <div class="clear-fix"><br><br></div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 mrgbot"></div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5  mrgbot">
        <div class="card services-card" (click)="showModal(2)">
          <img src="assets/img/SVG/sellos.svg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Aplicación Sellos</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5  mrgbot">
        <div class="card services-card" (click)="showModal(3)">
          <img src="assets/img/SVG/Mantenimiento.svg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Mantenimiento</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 mrgbot"></div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>
  </div>
</section>
