@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


.mat-typography {
  font-family: 'Raleway', sans-serif !important;
  color: #000000;
}

.txt-modal-servicios {
  margin: 2%;
}

.bottomButtons{
    margin-bottom: 1em !important;
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-appearance: none;
}

.btn-cl {
  margin-right: 1em;
}
