<h2 mat-dialog-title>Optimización</h2>
<mat-dialog-content class="mat-typography">
  <ng-container>
    <p class="">Optimización de tiempo de ciclos de la celda de puertas delanteras.</p>
    <p>Optimización de la programación ”trayectoria” de los robots alcanzando el tiempo de producción solicitada por el cliente manteniendo una calidad de producción sin paros.</p>

  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn-primary" [mat-dialog-close]="true">Cerrar</button>
</mat-dialog-actions>
