/* You can add global styles to this file, and also import other style files */
a {
  color: inherit;
}

.navbar-brand > img {
  width: 180px;
}

.navbar-main .active {
 text-decoration: underline;
 text-underline-offset: 9px;
}
