    /******************************general******************************************************/
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
    }

    a, p, li, ul, h1, h2, h4, h4, h5 {
      font-family: 'Open Sans', sans-serif;
    }

    html {
      scroll-behavior: smooth;
    }

    /******************************END general******************************************************/
    /**********************footer**********************************************/
    .bg-grey {
      background-color: #889da3;
    }

    /************************Efectos fades********************************************/
    .contentfade {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      opacity: 1;
      transform: translate(0, 0);
      transition: all 1s;
    }

    .contentfade>div {
      margin: 0 auto;
      background-color: #fff;
      width: 50%;
      height: 100%;
      grid-area: 2 / 2 / 5 / 5;
    }

    .fadeTop {
      opacity: 0;
      transform: translate(0, 10vh);
      transition: all 1s;
    }

    .fadeRight {
      opacity: 0;
      transform: translate(10vh, 0vh);
      transition: all 1s;
    }

    .fadeLeft {
      opacity: 0;
      transform: translate(-10vh, 0vh);
      transition: all 5s;
    }

    .fadeLeft2 {
      opacity: 0;
      transform: translate(-10vh, 0vh);
      transition: all 4s;
    }

    .fadeLeft3 {
      opacity: 0;
      transform: translate(-10vh, 0vh);
      transition: all 3s;
    }

    .fadeLeft4 {
      opacity: 0;
      transform: translate(-10vh, 0vh);
      transition: all 2s;
    }

    .contact-section, .service-section {
      background-color: #f4f4f4;
    }

    /* Line Height */
    .line-height-initial {
      line-height: initial !important;
    }

    .fadeAppear {
      opacity: 0;
      transform: scale(0.5, 2);
      transition: all 2s;
    }

    .fadeRotate {
      opacity: 0;
      transform: rotate(180deg);
      transition: all 1s;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }

    .visible {
      opacity: 1;
      transform: translate(0, 0);
    }

    .txt-center {
      text-align: center;
    }

    .txt-color-withe {
      color: #ffffff;
    }

    /************************EEND efectos fades********************************************/
    /*******************************imagenes titulos*************************************/
    .subcategory {
      height: 50px;
      width: 50px;
      margin: 1%;
    }
    /*No modificar*/
    .btn-primary {
        margin-left: 1em;
        color: #fff;
        background-color: #959F3E !important;
        height: 56px;
        border-radius: 1px;
        border: 0;
        font-size: 15px;
        background-image: linear-gradient(100deg,#777F32 50%,#959F3E 50%);
        -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
        transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
        background-size: 210% 100%;
        background-position:right bottom;
        transition:all 200ms ease;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        min-width: 104px;
    }

    .btn-primary:hover, .btn-primary:focus{
        background-color: #777F32 !important;
        box-shadow: none;
        color: white;
        background-position:left bottom;
        cursor: pointer;
    }

    .services-card {
      background-color: #FFFFFF !important;
      transition:all 200ms ease;
      background-image: linear-gradient(100deg, #b4bc7a 50%, #FFFFFF 50%);
      -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
      transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
      background-size: 214% 100%;
      background-position:right bottom;
    }

    .services-card:hover, .services-card:focus {
      background-color: #b4bc7a !important;
      box-shadow: none;
      color: #FFFFFF;
      background-position:left bottom;
      cursor: pointer;
    }
    /*******************************ENDimagenes titulos*************************************/
    /*********************************cars serv esp **************************************************/
    /*********************************ENDcars serv esp ***************************************************/
    /*******************scroll top *************************************************/
    /* Cuando la pantalla es mayor a 900px */
    @media only screen and (min-width : 901px) {
      section[id] {
        scroll-margin-top: 90px;
      }

      .img-res {
        position: relative;
        width: auto;
        height: 200px;
      }
    }

    /* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
    @media only screen and (max-width : 900px) {
      section[id] {
        scroll-margin-top: 330px;
      }

      .img-res {
        position: relative;
        width: auto;
        height: 60%;
      }
    }

    /* Cuando la pantalla es menor a 500px  (tablets y teléfonos inteligentes)*/
    @media only screen and (max-width : 500px) {
      section[id] {
        scroll-margin-top: 0px;
      }
    }

    @media only screen and (max-width : 764px) {
      .mrgbot {
        position: relative;
        margin-bottom: 10px;
      }
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
