* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
html,
h1 {
  font-family: 'Alata', sans-serif;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
}

h2 {
  text-align: center;
}

a, p, label {
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.font-primary {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.btn-primary {
    margin-left: 1em;
    color: #fff;
    background-color: #959f3e !important;
    height: 56px;
    border-radius: 1px;
    border: 0;
    font-size: 15px;
    background-image: linear-gradient(100deg,#777f32 50%, #959f3e 50%);
    -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
    transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
    background-size: 210% 100%;
    background-position:right bottom;
    transition:all 200ms ease;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    min-width: 104px;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #777f32 !important;
    box-shadow: none;
    color: white;
    background-position:left bottom;
    cursor: pointer;
}

.contact-section, .service-section  {
  background-color: #f4f4f4;
}

/* Line Height */
.line-height-initial {
  line-height: initial !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-1-1 {
  line-height: 1.1 !important;
}

.line-height-2 {
  line-height: 1.2 !important;
}

.line-height-3 {
  line-height: 1.3 !important;
}

.line-height-4 {
  line-height: 1.4 !important;
}

.line-height-5 {
  line-height: 1.5 !important;
}

.line-height-6 {
  line-height: 1.6 !important;
}

.line-height-7 {
  line-height: 1.7 !important;
}

.line-height-8 {
  line-height: 1.8 !important;
}

.line-height-9 {
  line-height: 1.9 !important;
}

html {
  scroll-behavior: smooth;
}

/************************************************************************************************************************************************************************/
/**************efectos girar izq der ****************/
.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
}

.content>div {
  margin: 0 auto;
  background-color: #fff;
  width: 50%;
  height: 100%;
  grid-area: 2 / 2 / 5 / 5;
}

.fadeTop {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 5s;
}

.fadeLeft2 {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 4s;
}

.fadeLeft3 {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 3s;
}

.fadeLeft4 {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 2s;
}

.fadeAppear {
  opacity: 0;
  transform: scale(0.5, 2);
  transition: all 2s;
}

.fadeRotate {
  opacity: 0;
  transform: rotate(180deg);
  transition: all 1s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.txt-center {
  text-align: center;
}

.txt-color-withe {
  color: #ffffff;
}

/*******************************tarjetass*************************************************/
/******************************colores de fondo ********************************************************/
.lggrey {
  /* background: linear-gradient(#889da3, white); */
  /*background-color: #f4f4f4;*/
  background-color: #ffffff;
}

.lgorange {
  /* background: linear-gradient(white, #959d3a); */
  background-color: #eceddc;
}

.pdgb-50 {
  padding-bottom: 80px;
}

.pdgt-50 {
  padding-top: 80px;
}

/**CR Styles**/
.robot-gif {
  float: right;
}

.subcategory {
  height: 50px;
  width: 50px;
  margin: 1%;
}

/************************************************************************************************************************************************************************/
.mgt20 {
  margin-top: 40%;
}

.box {
  position: relative;
  background-color: transparent;
  width: 90%;
  right: 2%;
  margin-right: 0;
  height: 400px;
  border: none;
  margin-bottom: 20px;
}

.box-inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  padding: 10px 10px 10px 10px;
}

.box:hover .box-inner {
  transform: rotateY(180deg);
}

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  min-height: 400px;
  backface-visibility: hidden;
  padding: 40px;
}

.box-front {
  background-image: linear-gradient(to right, #eae1ef 10%, #eadbd7 250%);
  color: #111111;
  box-shadow: 0px 10px 10px -6px black;
  text-align: center;
  margin: 0;
}

.box-back {
  background-image: linear-gradient(to right, #eae1ef 10%, #eadbd7 250%);
  color: #111111;
  /*background-image: linear-gradient(to left, #97cded 10%, #eadbd7 200%);*/
  /* #889da3
#959d3a*/
  transform: rotateY(180deg);
  text-align: justify-all;
  width: 100%;
  right: 0%;
  width: 100%;
  height: 400px;
  box-shadow: 60px 0px 0px 0px #eae1ef;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

/*  @media screen (min-width: 768px) {


        }

        @media screen (min-width: 1024px) {




        }*/
/* Cuando la pantalla es mayor a 900px */
@media only screen and (min-width : 901px) {
  section[id] {
    scroll-margin-top: 90px;
  }

  .img-res {
    position: relative;
    width: auto;
    height: 200px;
  }
}

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
  section[id] {
    scroll-margin-top: 330px;
  }

  .img-res {
    position: relative;
    width: auto;
    height: 60%;
  }
}

.formulario-container {
  width: auto;
  height: auto;
  border: none;
  box-shadow: 0px 10px 10px -6px black;
}
