.custom-font-size-1 {
  color: #000000
}

.text-12 {
  color: #000000;
}

.logo-container {
  backdrop-filter: blur(10px);
  position: absolute;
  padding: 5px;
}

.robot {
  width: 200px;
  height: 200px;
  position: relative;
}

.secondary-container {
  background-color: #959d3a;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}


#inicio {
    height: 90vh;
    overflow: hidden;
}

/*ADAI*/
.slogan-container{
position: absolute;
width: 80%;
height: auto;
top: 40%;
left: 10%;
backdrop-filter: blur(20px);
}

#slogan{color: white;}

.gif-container {
  opacity: 0.9px;
}
/*********************comentar para quitar el div transparente negro************************************************/
.gif-container {
    background-position: center center;
    transform: translateZ(-0.5px) scale(2);
    background-size: cover;
    z-index: -1;
    height: 75vh;
    background-image: url('https://bsgl.mx/img/gif/bsgl.gif');
}
